<!-- Large Feature Box -->
<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Core Trainer</h1>
    <br />
    <h2>A tool to connect with Personal Trainers</h2>
    <br />
    <div class="btn">
        <a class="btn btn-start" href="#down">Learn more</a>
    </div>
    <br>
    <br>
  </div>
</div>
<!-- Page Container -->
<div class="container">
  <hr>
  <hr>

  <!-- First Images Display -->
  <div class="container">
    <div class="block">
      <div class="row">
        <div class="span4">
          <img class="img-left w-50 p-3" src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"/>
          <br>
          <div class="content-heading"><h3>Manage Workouts</h3></div>
          <br>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="span4">
          <img class="img-right w-50 p-3" src="https://images.unsplash.com/photo-1535743686920-55e4145369b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80"/>
          <br>
          <div class="content-heading"><h3>Connect with a Trainer</h3></div>
          <br>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="span4">
          <img class="img-left w-50 p-3" src="https://images.unsplash.com/photo-1517963628607-235ccdd5476c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"/>
          <br>
          <div class="content-heading"><h3>Record Your Progress</h3></div>
          <br>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
          <br>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <hr>
  <br>

  <!-- Pricing Feature -->
  <div id="down" class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-3 box-shadow">
        <div class="card-header">
          <h3 class="my-0 font-weight-normal">Free</h3>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
        </div>
      </div>
      <div class="card mb-3 box-shadow">
        <div class="card-header">
          <h3 class="my-0 font-weight-normal">Pro</h3>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
        </div>
      </div>
      <div class="card mb-3 box-shadow">
        <div class="card-header">
          <h3 class="my-0 font-weight-normal">Enterprise</h3>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
        </div>
      </div>
    </div>
    <div class="col-10 offset-1">
      <%= link_to "Sign up", new_user_registration_path, class: 'btn-lg btn btn-warning button btn-block' %>
    </div>
  </div>
  <br>

  <!-- Services Feature -->
  <div class="container-fluid text-center">
    <h2>What we offer</h2>
    <br><br>
    <div class="row">
      <div class="col-sm-4">
        <h3>Guidance</h3>
        <p>Help when you need it</p>
      </div>
      <div class="col-sm-4">
        <h3>Compassion</h3>
        <p>We all started with the first step</p>
      </div>
      <div class="col-sm-4">
        <h3>Strength</h3>
        <p>Fitness approach to health</p>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-4">
        <h3>Instruction</h3>
        <p>One on one training</p>
      </div>
      <div class="col-sm-4">
        <h3>Classes</h3>
        <p>Enjoy group sessions</p>
      </div>
      <div class="col-sm-4">
        <h3>Community</h3>
        <p>Meet local people</p>
      </div>
    </div>
  </div>
  <br>
  <div class="image">
    <img src="https://images.unsplash.com/photo-1522898467493-49726bf28798?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80">
  </div>
  
  <br><br>
  <hr><hr>
  <br><br>
  
  <!-- About Feature -->
  <div class="container-fluid row">
    <div class="col-md-8">
      <div class="row-sm-8">
        <h1>CTFive</h1>
        <h3>Web Development Team</h3>
        <br>
        <p>This website reflects a choice to be different. Our team decided to create a custom project for our capstone experience at the University of Denver Web Development boot camp.<p>
      </div>
      <br><br>
      <h1>Our Mission</h1>
      <h5>Create a tool that personal trainers and their clients can use to connect and share workouts</h5>
      <br>
    </div>

    
    <div class="col-sm-4 text-right">
      <div class="container image">
        <img src="https://d92mrp7hetgfk.cloudfront.net/images/sites/misc/denver-switchup-thumbnail-a/original.png?1560210160">
      </div>
      
      <div class="container">
        <%= link_to 'https://github.com/JessiCalicotte', target: :_blank do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
        <% end %>
        <br>
        <b>Jessi Calicotte</b>
        <br><br>

        <%= link_to 'https://github.com/kbutkus', target: :_blank do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
        <% end %>
        <%= link_to 'https://www.linkedin.com/in/katebutkus/', target: :_blank do %>
          <span class="fa fa-linkedin-square fa-2x"></span>
        <% end %>
        <br>
        <b>Kate Butkus</b>
        <br><br>

        <%= link_to 'https://github.com/SRSSavage', target: :_blank do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
        <% end %>
        <%= link_to 'https://www.linkedin.com/in/zach-hewitt-a621b6189/', target: :_blank do %>
          <span class="fa fa-linkedin-square fa-2x"></span>
        <% end %>
        <br>
        <b>Zach Hewitt</b>
        <br><br>

        <%= link_to 'http://github.com/Thirdeyeclimber', target: :_blank do %>
          <span class="fa fa-github-square fa-2x social-button"></span>
        <% end %>
        <%= link_to 'https://www.linkedin.com/in/webdev10100/', target: :_blank do %>
          <span class="fa fa-linkedin-square fa-2x"></span>
        <% end %>
        <%= link_to 'https://twitter.com/Thirdeyeclimber', target: :_blank do %>
          <span class="fa fa-twitter-square fa-2x"></span>
        <% end %>
        <br>
        <b>Michael Day</b>
      </div>
    </div>
  </div>
</div>