<p id="notice"><%= notice %></p>

<h1>Sessions</h1>
<div class="booyah-box">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Exercises</th>
        <th>Sets</th>
        <th>Reps</th>
        <th>Notes</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @sessions.each do |session| %>
        <tr>
          <td><%= session.title %></td>
          <td><%= session.description %></td>
          <td><%= session.exercises %></td>
          <td><%= session.sets %></td>
          <td><%= session.reps %></td>
          <td><%= session.notes %></td>
          <td><%= link_to 'Show', session %></td>
          <td><%= link_to 'Edit', edit_session_path(session) %></td>
          <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Session', new_session_path, class: 'btn btn-success button btn-md'%>
<br>
