<% readonly = false if local_assigns[:readonly].nil?%>

<h4>Clients</h4>

<!-- I think we'll need to move these forms to another file - MD -->
<div style="display: inline-block; vertical-align: top; width: 12%" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a onclick="$(this).parent().find('a').removeClass('active')" class="nav-link active" id="info-tab" data-toggle="pill" href="#info" role="tab" aria-controls="info" aria-selected="true">Member Info</a>
  <a onclick="$(this).parent().find('a').removeClass('active')" class="nav-link" id="check-tab" data-toggle="pill" href="#check" role="tab" aria-controls="check" aria-selected="false">Check-ins</a>
  <a onclick="$(this).parent().find('a').removeClass('active')" class="nav-link" id="workout-tab" data-toggle="pill" href="#workout" role="tab" aria-controls="workout" aria-selected="false">Workouts</a> 
</div>
<div style="display: inline-block; vertical-align: top; width: 87%" class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
  <%# Client information form %>
<div class="booyah-box text-left col-10 offset-1">
  <%= simple_form_for clients_path(client) do |f| %> 
    <%= f.error_notification %>
    <%= f.input :birthday, as: :date, html5: true, readonly: readonly, input_html: {value: client.birthday} %>
    <%= f.input :injuries, :placeholder => "i.e. knee injury", readonly: readonly, input_html: {value: client.injuries} %>
    <%= f.input :athletic_history, :placeholder => "i.e. played basketball in high school", readonly: readonly, input_html: {value: client.athletic_background} %>
    <%= f.input :goals, :placeholder => "i.e. have more energy", readonly: readonly, input_html: {value: client.goals} %>
    <%= f.input :work_history, :placeholder => "i.e. never worked out", readonly: readonly, input_html: {value: client.work_history} %>
    <% if !readonly%>
    <%= f.button :submit, 'Submit your info', class: "btn-primary" %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
    <% end %>
  <% end %>
</div>
  </div>
  <div class="tab-pane fade" id="check" role="tabpanel" aria-labelledby="check-tab">
  <%# Checkin form %>
<div class="booyah-box text-left col-10 offset-1">
  <%= simple_form_for workoutlogs_path(client.workoutlogs.first) do |f| %> 
    <%= f.input :weight, :placeholder => "i.e. 175 lbs", readonly: readonly%>
    <%= f.input :mood, :placeholder =>"i.e. stressed", readonly: readonly%>
    <%= f.input :notes, readonly: readonly %>
    <%= f.input :text, readonly: readonly %>
    <% if !readonly%>
    <%= f.button :submit, 'Add Checkin', class: "btn-primary" %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %></i>
    <% end %>
  <% end %> 
</div>
  </div>
  <div class="tab-pane fade" id="workout" role="tabpanel" aria-labelledby="workout-tab">
  <%# Workout form %>
<div class="booyah-box text-left col-10 offset-1">
    <%= simple_form_for '#' do |f| %>
    <%= f.input :exercise %>
    <%= f.input :sets %>
    <%= f.input :reps %>
    <%= f.input :weight %>
    <%= f.input :date_time %>
    <%= f.input :notes %>
    <%= f.input :workout_intensity, as: :range %>
    <%= f.button :submit,'Add workout', class: "btn-primary" %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %></i>
  <% end %>  
</div>
  </div>
</div>

<br>
<br>

