<p id="notice"><%= notice %></p>

  <h4>Workouts</h4>

<div class="booyah-box">
  <%= @workout.title %> -
  <%= @workout.reps %> -
  <%= @workout.sets %> -
  <%= @workout.description%> -
  <%= @workout.lbs%> -
  <%= @workout.miles%> -
  <%= @workout.notes%> 
</div>


<% if current_user.trainer? %>
  <%= link_to 'Edit', edit_trainer_workout_path(@workout) %> |
<% elsif current_user.client? %>
  <%= link_to 'Schedule Appointment', new_trainer_appointment_path %>
<% end %>
