<p id="notice"><%= notice %></p>

<h1>Workoutlogs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workoutlogs.each do |workoutlog| %>
      <tr>
        <td><%= link_to 'Show', workoutlog %></td>
        <td><%= link_to 'Edit', edit_workoutlog_path(workoutlog) %></td>
        <td><%= link_to 'Destroy', workoutlog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workoutlog', new_client_workoutlog_path %>
