<h1>New Workoutlog</h1>

<div class="booyah-box text-left col-10 offset-1">
  <%= simple_form_for @workoutlog, url: client_workoutlogs_path do |f| %> 
    <%= f.input :weight, :placeholder => "i.e. 175 lbs"%>
    <%= f.input :mood, :placeholder =>"i.e. stressed"%>
    <%= f.input :notes %>
    <%= f.button :submit, 'Add Workout', class: "btn-primary" %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %></i>
  <% end %> 

</div>
