<br>
<div class="booyah-box col-10 offset-1">
	<%= simple_form_for(@trainer) do |f| %>
		<%= f.error_notification %>
		<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
			<%= simple_form_for trainers_path(@trainer) do |f| %> 
			<%= f.error_notification %>
			<%= f.input :athletic_background, as: :text %>
			<%= f.input :started_training, as: :date %>
			<%= f.input :specialties, as: :text %>
			<%= f.input :bio, as: :text %>
			<%= f.input :availability, as: :text %>
			<%= f.input :location, as: :string %>
			<%= f.input :certificate_id, as: :string %>
			<%= f.input :other_credentials, as: :text %>
			<div class="form-actions">
				<%= f.button :submit, "Continue", class: "btn-primary" %>
			</div>
		<% end %>
	<% end %>
</div>
<br>
<br>