<p id="notice"><%= notice %></p>

<div class="booyah-box col-10 offset-1 text-center">
  <h1>Trainers</h1>
  <strong><h3> what do y'all think?</h3></strong>
  <br>
  <p>We can use this as the trainer dashboard! <br> Make a < div > below to show off your skills!- MD</p>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainers.each do |trainer| %>
      <tr>
        <td><%= link_to 'Show', trainer %></td>
        <td><%= link_to 'Edit', edit_trainer_path(trainer) %></td>
        <td><%= link_to 'Destroy', trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Trainer', new_trainer_path %>
<br>


<h3 style="text-align:center; color:purple;">Implement your trainer dashboard ideas below this line by working in the views/trainers/index.html.erb file</h3>