<p id="notice"><%= notice %></p>

<div class="booyah-box">
  <table style="table-layout: fixed; width: 100%;"> 
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Goals</th>
        <th> &nbsp; </th>
        <th> &nbsp; </th>
        <th> &nbsp; </th>
      </tr>
    </thead>
    <tbody>
      <% @trainers.each do |trainer| %>
        <tr>
          <td><%= trainer.user.name %></td>
          <td><%=raw trainer.location || "&nbsp;" %></td>
          <td><%= link_to 'View Workouts', trainer_path(trainer) %></td>
          <% if @readonly %>
          <td><%= link_to 'Edit', edit_trainer_path(trainer) %></td>
          <td><%= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<br>
<hr>
<hr>
<br>

<%= link_to 'Back', trainers_path %>
