<p id="notice"><%= notice %></p>

<div class="booyah-box">  
  <strong>Name</strong> <br>
  <%= @trainer.user.name %> <br>
  <strong>Location</strong> <br>
  <%= @trainer.location %> <br>
  <strong>Bio</strong> <br>
  <%=raw @trainer.bio || "&nbsp;" %>
  <br>
  <%= link_to 'Edit', edit_trainer_path(@trainer) %>
  <%= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Create Workout', new_trainer_workout_path(@trainer) %>
  <%= link_to 'Trainer Workouts', trainer_workout_path(@trainer) %>

</div>
<br>
<br>
<hr>
<hr>
<br>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
