<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
  <title>Coretrainer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id="flex-content-container">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Core Trainer</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>

  <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <!-- Render View -->
  <%= yield %>
</div>
 <div id="footer">
    <div class="row">
      <div class="col-12 col-sm-3">
        <b>Trainers</b>
        <br />
      </div>
      <div class="col-12 col-sm-3">
        <b>Info</b>
        <br />
      </div>
      <div class="col-12 col-sm-3 text-center">
        <b>Developers</b>
        <br />
         <%= link_to 'Kate github link here', '' %>        
        <br />
         <%= link_to 'Jess github link here', '' %>         
        <br />
         <%= link_to 'Michael github link here', '' %>        
        <br />
         <%= link_to 'Zach github link here', '' %>
        <br />
        <%= link_to 'Team github link here', '' %>
        <br />
        
        

      </div>
      <div class="col-12 col-sm-3 social">
  <b>Social</b>
  <br />
  <br />
  
</div>
    </div>  
 
      </div>
  </div>
</body>
=======
  <head>
    <title>Coretrainer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
>>>>>>> a9f30229deb17ad52911a6a035f4f30e28b5391e

  <!-- Body-->
  <body>
    
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-inverse bg-inverse">
      <!-- Toggler Button -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <%= link_to 'Core Trainer', root_path, class: 'navbar-brand' %>
      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav text-right">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'My Dashboard', dashboard_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up!', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <br>

    <!-- Devise Alerts -->
    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <!-- Render View -->
    <%= yield %>
    
    <!-- Footer -->
    <footer class="footer text-center">
      <!-- Credits -->
      <div class="https://github.com/CTfive/coretrainer">Made with ❤ by
        <a href="https://github.com/CTfive"> CTFive</a>
      </div>
    </footer>
  
  <!-- End of Body -->
  </body>
</html>
