<!DOCTYPE html>
<html>
  <head>
    <title>Coretrainer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- Body-->
  <body>
    <!-- Nav Bar-->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <!-- Brand -->
    <%= link_to 'Core Trainer', user_root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <%case when user_signed_in? && current_user.client? %>
          <li class="nav-item">
            <%= link_to 'Members', clients_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Trainers', trainers_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Profile', "#", class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% when user_signed_in? && current_user.trainer? %>
          <li class="nav-item">
            <%= link_to 'My Clients', "#", class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'My Workouts', "#", class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up!', new_user_registration_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <br>
  <br>
  <br>

    <!-- Devise Alerts -->
    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <!-- Render View -->
  <div class="container">
    <%= yield %>
  </div>
    <!-- Footer -->
    <footer class="fixed-bottom footer text-center">
      <!-- Credits -->
      <div class="https://github.com/CTfive/coretrainer">Made with ❤ by
        <a href="https://github.com/CTfive"> CTFive</a>
      </div>
    </footer>
  <!-- End of Body -->
  </body>
</html>
